<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>

<p>
	Given $f(x) = {{problem.f.fn}}$, calculates, using derivatives, $f({{problem.f.x+problem.f.h}})$.
</p>

<p>
	First of all, answer me $\frac{d}{dx}f = $
	<input class="input-medium" type="text" name="derivative" data-ng-model="ans.derivative" /> 
	<button data-ng-show="!flash.dx.correct" class="inline btn btn-info" data-ng-click="verifyDerivative(); MathJax.Hub.Typeset();">Verify</button>

	<div data-ng-show="flash.dx.correct"> 
	
		<div class="alert alert-success">
			<p>
				Correct! Your answer is equivalent to ${{problem.derivative.tex}}$
			</p>
		</div>

		<p>
			Now, find the nearest integer of {{problem.f.x+problem.f.h}}, that means, 
			<input type="text" class="span1" name="integer" data-ng-model="ans.nearest" />
			<button data-ng-show="!flash.nearest.correct" class="inline btn btn-info" data-ng-click="verifyNearest();">Verify</button>

			<div data-ng-show="flash.nearest.correct"> 			
				<div class="alert alert-success">
					<p>
						Correct!
					</p>
				</div>
				<p>
					Its time to compute f({{ans.nearest}}) = 
					<input type="text" class="span1" name="fx" data-ng-model="ans.fx" />
					<button class="inline btn btn-info" data-ng-click="verifyFx()">Verify</button>
				</p>
			</div>
		</p>
	</div>

	<div data-ng-show="flash.dx.error"> 
		<div class="alert alert-error">
		<p>
			{{flash.dx.message}}
		</p>
		</div>
		<div data-ng-show="errorCount > 4" class="alert alert-warning">
			Remember that the derivative rule for {{problem.derivative.name}} functions in the form 
				$f(x) = {{problem.r.rule}}~~~~~$ is $~~~~~\frac{d}{dx}f = {{problem.r.derivative.tex}}$</div>
	</div>

	<div data-ng-show="flash.nearest.error"> 
		<div class="alert alert-error">
		<p>
			{{flash.nearest.message}}
		</p>
		</div>
	</div>

</p>
